    body{
        background-color: rgb(13,12,11);
         color: white;
                }
                button{

                    margin: 10px;
                    border-radius: 40px;
                    background-color: rgb(13,12,11);
                    border:solid  white 2px;
                    padding: 20px;
                    cursor: pointer;
                    margin-top:20px;
                    color:white;
                    
                }
                h1{
                    margin-left:100px
                }
                p{
                    margin-left: 30px;
                }
                .rock_image{
                    height:50px;
                }
            